* {
    background-color: black;
    color: white;
}

header {
    position: relative;
    text-align: center;
}

content {
    font-size: medium;
}

h1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: 70px;
}

