* {
    background-color: black;
    color: white;
}

header {
    position: relative;
    text-align: center;

}

content {
    font-size: medium;
}

p {
    margin: 15px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: 70px;
}

#header_image {
    max-width: 100%;
    height: auto;
}